.innerBox{
    max-width: 1200px;
    margin: 0 auto;
}
#btn>.bx-pager{
    display: flex;

}
#btn>.bx-pager .bx-pager-item{
    margin-left: 10px;
    background: #ccc;
}
#btn>.bx-pager .bx-pager-item a.active{
    background-color: pink;
}